//Sass document

@import 'reset';
@import 'colours';

.hidden {
  display: none;
}

.container {
  width: 100vw;
  min-height: 100vh;
  background-color: #ccc;
  .admin-nav {
    width: 100vw;
    height: 5vw;
    display: flex;
    flex-direction: row;
    background-color: $darkgrey;
    justify-content: space-evenly;
    ul {
     li {
      display: inline-flex;
      padding: 0 5vw;
        a {
          text-decoration: none;
          color: #fff;
          font: 1.4vw 'Bitter', serif;
          line-height: 5vw;
        }
      }
    }
  }
  .content{
    width: 60vw;
    min-height: 60vh;
    margin: 0 auto;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.4);
    background-color: #fff;
    text-align: center;
    h2 {
      background-color: $salmon;
      color: #fff;
      text-align: center;
      font: 2vw 'Nanum Gothic', sans-serif;
      line-height: 3em;
    }
    .message {
      height: 8vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h3 {
        text-align: center;
        color: $salmon;
        font: 1.7vw 'Nanum Gothic', sans-serif;
      }
    }
    .greeting{
      padding: 6vw;
      text-align: left;
      h3{
        font: 1.6vw 'Bitter', serif;
        color: $blue;
        font-style: italic;
        padding-bottom: 7vw;
      }
      h4, h5{
        font: 1vw 'Nanum Gothic', sans-serif;
      }
      .links{
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        a {
          text-align: center;
          padding: 5vh;
          float: left;
          text-decoration: none;
          h5{
            padding: 2vh;
            background-color: $blue;
            color: #fff;
          }
        }
      }
    }
  }
  form {
    width: 20vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font: 1vw 'Nanum Gothic', sans-serif;
    label {
      color: $darkgrey;
      font-size: 1.1vw;
      padding: 5px 0;
    }
    input, select, input[type=select] {
      box-shadow: 0 0 6px 0 rgba(0,0,0,0.4);
      border-radius: 8px;
      height: 2em;
      font-size: 1vw;
      margin: 10px 0;
    }
    select{
      margin-top: 30px;
    }
    #submit{
      margin: 5vw auto;
      font-size: 1.4vw;
      width: 10vw;
      background-color: $salmon;
      color: #fff;
      cursor: pointer;
    }
  }
}





// run sass --watch sass/main.scss:main.css
